.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding: 25;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pageHeader{
  font-size: 32px;
}

.basicText{
  font-size: 20px;
}

.sectionHeader{
  font-size: 22px;
  font-weight: bold;
}

.centerText{
  text-align: center;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: Black;
  text-align: left;
  list-style: none;
  background-color: White;
  background-clip: padding-box;
}